@charset "UTF-8";

:root {
    --salmao: #ee9179;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--salmao);
    font-family: 'Lato', sans-serif;
}

header {
    min-height: 50px;
    padding-top: 20px;
}

.logo-img {
    width: 10%;
    position: absolute;
    left: 2%;
    margin-top: 10px;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}

article > h1 {
    position: absolute;
    color: white;
    top: 30%;
    left: 16.6%;
}

.gif {
    position: absolute;
    right: 66%;
    top: 35%;
    border-radius: 10px;
}

article > h6 {
    position: absolute;
    color: white;
    top: 70%;
    left: 7.6%;
}

/*Links*/
nav {
    text-align: right;
    font-size: 14px;
    font-weight: bold;
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
}

a:hover{
    text-decoration: underline 2px white;
    text-underline-offset: 5px;
}

.lancamento {
    color: black;
    text-decoration: underline 2px;
    text-underline-offset: 10px;
}

.lancamento:hover {
    color: white;
}

/*Imagens*/
.tenis-img {
    position: absolute;
    width: 45%;
    right: 10%;
    top: 40%;
    transform: rotate(-40deg);
}

.tenis-img-1 {
    position: absolute;
    width: 5%;
    right: 5%;
    bottom: 35%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px;
}

.tenis-img-2 {
    position: absolute;
    width: 5%;
    right: 5%;
    bottom: 23%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px;
}

.tenis-img-3 {
    position: absolute;
    width: 5%;
    right: 5%;
    bottom: 11%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px;
}

.tenis-img-4 {
    position: absolute;
    width: 5%;
    right: 5%;
    bottom: -1%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px;
}

.tenis-img-1:hover {
    border: 2px solid black;
}

.tenis-img-2:hover {
    border: 2px solid black;
}

.tenis-img-3:hover {
    border: 2px solid black;
}

.tenis-img-4:hover {
    border: 2px solid black;
}

/*Botão*/
button {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 10%;
    height: 5%;
    right: 67%;
    top: 80%;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px;
}

button:hover {
    border: 2px solid black;
}

.tenis-img-5 {
    position: absolute;
    width: 5%;
    top: 110%;
    right: 82.5%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px;
}

.tenis-img-6 {
    position: absolute;
    width: 5%;
    top: 110%;
    right: 77%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px;
}

.tenis-img-7 {
    position: absolute;
    width: 5%;
    top: 110%;
    right: 71.5%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px;
}

.tenis-img-8 {
    position: absolute;
    width: 5%;
    top: 110%;
    right: 66%;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px;
}

.tenis-img-5:hover {
    border: 2px solid black;
}

.tenis-img-6:hover {
    border: 2px solid black;
}

.tenis-img-7:hover {
    border: 2px solid black;
}

.tenis-img-8:hover {
    border: 2px solid black;
}

footer {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px;
    margin: auto;
    top: 150%;
    right: 40%;
}