@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

:root {
    --salmao: #ee9179;
    --preto: #111;
    --branco: #fff;
    --azul-claro: #29baa6;
    --azul-medio: #45b3bf;
    --azul-escuro: #0074c2;
    --preto-escuro: #1c1c1c;
    --roxo: #921d85;
    --verde: #bacf2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.circle {
    background: var(--salmao);
    position: absolute;
    clip-path: circle(800px at top right);
    width: 100vw;
    height: 100vh;
}

.secao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    width: 100%;
    height: 100vh;
    background: var(--branco);
}


header { 
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 100px;
}

.logo { 
    max-width: 100px;
    display: flex;
    align-items: center;
}

.secao ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.secao li {
    list-style: none;
    margin-left: 40px;
}

.secao header li a {
    text-decoration: none;
    font-weight: 700;
    color: var(--branco);
}

.secao header li a:hover {
    border-bottom: 2px solid var(--branco);
}

.conteudoBox {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}

.conteudoBox .textoBox {
    display: inline-block;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.textoBox h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3em;
    line-height: 1.5em;
    color: var(--preto);
}

.textoBox span {
    font-size: 1.2em;
    font-weight: 900;
}

.textoBox p {
    color: var(--preto);
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.textoBox a {
    background: var(--preto);
    color: var(--branco);
    text-decoration: none;
    padding: 8px 50px;
    text-transform: uppercase;
    font-weight: 900;
    border-radius: 10px;
    display: inline-block;
    transition: 0.5s;
}

.textoBox a:hover {
    transform: translateY(-10px);
}

.imagemBox {
    display: inline-block;
    align-items: center;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    position: relative;
}

.imagemBox img {
    max-width: 700px;
    transform: rotate(-15deg);
}

.thumb {
    position: absolute;
    left: 0;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.thumb li {
    list-style: none;
    cursor: pointer;
    transition: 0.5s;
}

.thumb li:hover {
    transform: translateY(-15px);
}

.thumb img {
    width: 100px;
    border: 2px solid var(--preto);
    border-radius: 10px;
}














